<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1> Welcome to the Stock Quote app </h1>
  <p>the best quote app ever</p>
    <a href="/stock?ticker=tsla"> Latest price for tesla stock</a>
  <h2> <%= current_year %> </h2>
  <h2> <%= slogan %>  </h2>

  <form action="/stock"> 
    <input type="text" name="ticker" placeholder="enter ticker name">
    <button> get price</button>
  </form>

</body>
</html>

