<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<nav>
<ul>
<li> <a href="/">Home Page</a> </li>
<li><a href="/random_color">Random Color</a></li>
<li><a href="/donate">Donate</a></li>
</ul>
</nav>
    <h1>colorify</h1>

    <%= yield %>

    <footer>
  &copy; 2021 don't steal my </footer> 
</body>
</html>